body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.shape {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin-bottom: 20px;
}

.buttons button {
    padding: 10px 20px;
    margin: 0 8px;
    cursor: pointer;
    
}

